<!-- <p>small-calendar works!</p> -->
<!-- <div class="small-calendar-dates"> -->
    <!-- <ng-container *ngFor="let day of currentCalendarDays">
        <app-event-date [day]="day"></app-event-date>
    </ng-container> -->
<div class="small-calendar">
    <div class="small-calendar-header">S</div>
    <div class="small-calendar-header">M</div>
    <div class="small-calendar-header">T</div>
    <div class="small-calendar-header">W</div>
    <div class="small-calendar-header">T</div>
    <div class="small-calendar-header">F</div>
    <div class="small-calendar-header">S</div>

    <ng-container *ngFor="let day of currentCalendarDays">
        <app-event-date [dayEvent]="day"></app-event-date>
    </ng-container>   
</div>



