<div id = "genres-deck">
    <div class="genres-div">
        <div class="genre-head">
            <h3>Pick Genres for Profile Setup</h3>
        </div>
        <div class="buttons-holder" id="buttons-categories">
            <h5>Testing</h5>
        </div>
    </div>

    <div class="genres-list-pick">
        <div class="genre-head">
            <h3><i class="far fa-list-alt" style="color: #1f2833; font-size: 22px;"></i> Genres selected</h3>
        </div>
        <div id="genre-pick">
            <h5>Testing</h5>
        </div>
    </div>
</div>