<div class="details-outer">
    <div class="header-outer">
        <div class="header-date-div">
            <select id="header-date" class="select-input">
                <option value="">Select date:</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
        </div>

        <div class="header-day">
            Day: 
        </div>

        <div>
            <select id="header-month" class="select-input">
                <option value="">Select month:</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
              </select>
        </div>
    </div>

    <div class="event-outer-container">
        <div class="left-carrot-div" (click)="prevEvent()">
            <div class="left-carrot"><h2>&lt;</h2></div>
        </div>
        
        <div class="event-container">
            <!-- <div class="event-details" *ngFor="let event of events">
                Event: {{event.title}}
                <br>Type: {{event.type}}
                <br>Time: {{event.startTime}} - {{event.endTime}}
                <br>Date: {{event.month}}/{{event.day}}/{{event.year}}
            </div> -->
            <div class="event-details">
                Event: {{event.title}}
                <br>Type: {{event.type}}
                <br>Time: {{event.startTime}} - {{event.endTime}}
                <br>Date: {{event.month}}/{{event.day}}/{{event.year}}
                <!-- <br>Location: UWF, Commons -->
                <!-- <br>Weather: Sunny -->
            </div>
            <div class="event-weather">
                Temperature: 95F
            </div>
        </div>

        <div class="right-carrot-div" (click)="nextEvent()">
            <div class="right-carrot"><h2>&gt;</h2></div>
        </div>
    </div>
</div>
