<div class="details-outer">
    <div class="title-header">
        <h2><i class="fas fa-calendar-day" style="color: #1f2833; font-size: 22px; margin-right: 5px; margin-bottom: 2px;"></i>Event details of day</h2>
    </div>
    <div class="header-outer">
        <div class="header-date-div">
            <select class="event-details-select-input-date" (input)="date=$event.target.value" name="date">
                <option value="">Date:</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
        </div>
        <div class="event-details-border-left"></div>
        <div>
            <select class="event-details-select-input-month" (input)="month=$event.target.value" name="month">
                <option value="">Month:</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
        </div>
        <div class="event-details-border-middle"></div>
        <div>
            <select class="event-details-select-input-year" (input)="year=$event.target.value" name="year">
                <option value="">Year:</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
              </select>
        </div>
        <div class="event-details-border-right"></div>
        <div>
            <input (click)="getDateForEvents(date,month,year)" type="submit" value="Submit" class="event-details-select-input-submit">
        </div>
    </div>

    <div class="event-outer-container">
        <div class="left-carrot-div" (click)="prevEvent()">
            <div class="left-carrot"><h2>&lt;</h2></div>
        </div>
        
        <div class="event-container">
            <div class="event-details" *ngIf="currentEvent; then eventsExist else noEvents">
                <!-- template will replace this div -->
            </div>

             <!-- User logged in -->
             <ng-template #eventsExist>
                <div class="event-details">
                    Event: &nbsp;&nbsp;{{currentEvent.title}}
                    <br>Type: &nbsp;&nbsp;{{currentEvent.type}}
                    <br>Time: &nbsp;&nbsp;{{currentEvent.startTime}} - {{currentEvent.endTime}}
                    <br>Day: &nbsp;&nbsp;{{currentEvent.dayLong}}
                    <!-- <br>Date: {{currentEvent.month}}/{{currentEvent.day}}/{{currentEvent.year}} -->
                </div>
            </ng-template>

            <!-- User NOT logged in -->
            <ng-template #noEvents>
                <div class="event-details">
                    No events for day yet.
                    <br>Please pick a day you would like to get more details of.
                </div>
            </ng-template>

            <div class="event-weather">
                Temperature: 95F
            </div>
        </div>

        <div class="right-carrot-div" (click)="nextEvent()">
            <div class="right-carrot"><h2>&gt;</h2></div>
        </div>
    </div>
</div>
