<div class="large-calendar-header" (click)="populateEventsTable()">
    <h2>Selected Event: <span class="large-cal-date">{{month}}, {{year}}</span></h2>
</div>
<div class="create-event-header-previous" (click)="previousMonth()"><h3>&lt;</h3></div> 
<div class="create-event-header-next" (click)="nextMonth()"><h3>&gt;</h3></div>
<!-- <div class="create-event-header-month">{{currentMonth.monthLong}}, {{currentMonth.year}}</div> -->

<div class="large-calendar">
    <ng-container *ngFor="let day of calendarDays">
        <app-large-calendar-card [dayEvent]="day"></app-large-calendar-card>
    </ng-container>   
</div>

