 <div class="search-media-player-div">   
    <div class="search-generated-head">
        <h2>Media Player</h2>
    </div>
    <div class="hoverSearch">
        <div class="hoverSearch-div1">Title: {{trackName}}</div>
        <div class="hoverSearch-buttons-div">
            <div class="hover"><img src="../../assets/images/playButton.svg" alt="Icon of music bar" width="40" height="40" style="margin-right: 10px;"></div>
            <div class="hover"><img src="../../assets/images/pauseButton.svg" alt="Icon of music bar" width="40" height="40"></div>
        </div>
    </div>
</div>