.media-player-play{
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.media-player-pause {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.media-player-container{
    background-color: #379863;
    position: fixed;
    display: flex;
    border: none;
    padding: 10px 110px 10px 10px;
    height: 60px;
    width: 100%;
    bottom: 0px;
}

.hoverSearch-div1{
    vertical-align: middle;
    color: white;
    margin-top: 9px;
    font-size: 20px;
    width: auto;
}

.media-player-buttons {
    display: flex;
    margin-right: 12px;
    position: absolute;
    right: 0px;
    top: 3px;
    width: 300px;
}



