<div class="sidenav-container">
    <div class="side-navbar-links">
        <a routerLink="/musicapp" routerLinkActive="sidenav-active">Music</a>
    </div>

    <div class="side-navbar-links">
        <a routerLink="/create-event" routerLinkActive="sidenav-active">Events</a>
    </div>

    <div class="side-navbar-links">
        <a  routerLink="/events-detail" routerLinkActive="sidenav-active">Calendar</a>
    </div>
</div>


<div class="gap-above-sign-in" *ngIf="getPath() === '/musicapp'"></div>
<div class="sign-in-title" *ngIf="getPath() === '/musicapp'">Sign-in with</div>
<div class="side-navbar-music-links-outer" *ngIf="getPath() === '/musicapp'">
    <!-- <div class="side-navbar-music-links-apple">
        <a><i class="fab fa-apple icon-apple"></i><span class="apple-music-label">music</span></a>
    </div> -->
    <div class="side-navbar-music-links-spotify">
        <a><i class="fab fa-spotify icon-spotify"></i><span class="spotify-music-label">spotify</span></a>
    </div>
</div>

