a:link {
    text-decoration: none;
}

.side-navbar-links a:hover {
    background-color: #1f2833;
    border-radius: 10px;
    cursor: pointer;
}

.side-navbar-links a {
    color: white;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
}

.sidenav-active {
    background-color: #1f2833;
    border-radius: 10px;
}

.side-navbar-links {
    margin: 10px;
    background-color: #379863;
    text-align: center;
    height: 40px;
    border-radius: 10px;
}


/* Iphone 5 (phones, 321px and down) */
@media only screen and (max-width: 321px) {
    .side-navbar-links a {
        line-height: 10px;
        font-size: 10px;
        padding: 13px 5px 0px 5px;
    }

    .sidenav-container {
        display: flex;
        width: auto;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 322px) and (max-width: 680px) {
    .side-navbar-links a {
        line-height: 10px;
        font-size: 10px;
        padding: 13px 5px 0px 5px;
    }

    .sidenav-container {
        display: flex;
        width: auto;
        // padding-left: 20px;
    }

}

