a:link {
    text-decoration: none;
}

.side-navbar-links:hover {
    background-color: #1f2833;
    cursor: pointer;
}

.side-navbar-links a {
    color: white;
    font-size: 14px;
}

.side-navbar-links {
    margin: 15px;
    background-color: #379863;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    
}


