<nav>
    <div class="nav-logo">
        <img src="../../assets/images/logo_180x180.png" class="logo" alt="">
    </div>
    <div class="nav-links">
        <ul>
            <li><a class="active" href="">Home</a></li>
            <li><a href="">Profile</a></li>
            <li><input type="text" placeholder="Search.." class="search-song" (input)="searchTerm=$event.target.value">
                <button (click)="fetchTrackList(searchTerm)"></button></li>
            <li>Search Term: {{searchTerm}}</li>
            <li style="float:right"><a href=""><i class="fas fa-user-circle"></i> Login</a></li>
        </ul>
    </div>
</nav>