nav {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 75px;
    background-color: #1f2833;
    border: none;
    font-family: 'Open Sans', sans-serif;
    
}

.searchSong-div{
    position: relative;
    padding: 5px;
}

.searchSong-div-submit{
    position: relative;
    padding: 10px;
}

.nav-logo{
    min-width: 75px;
    max-width: 100px;
    flex-grow: 1;
    margin: auto;
}

.nav-logo img{
    display: block;
    outline: none;
    margin: auto;
    width: 75px;
    height: 75px;
}

.nav-links {
    flex-grow: 8
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f2833;
    top: 0;
    width: 100%;
    height: 75px;
}
  
.nav-links li {
    float: left;
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 60px;
}

.nav-links li a:hover:not(.active) {
    background-color: #379863;
    color: white;
}

.nav-links li .active {
    background-color: #379863;
    color: white;
}

.searchSong-div input {
    margin-top: 10px;
}

.searchSong-div-submit button[type=submit]{
    background-color: #379863;
    border: none;
    color: white;
    padding: 13px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.searchSong-div input{
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;
}
