nav {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 75px;
    background-color: #1f2833;
    border: none;
    font-family: 'Open Sans', sans-serif;
    
}

.searchSong-div{
    position: relative;
    padding: 5px;
}

.searchSong-div-submit{
    position: relative;
    padding: 10px;
}

.nav-logo{
    min-width: 75px;
    max-width: 90px;
    flex-grow: 1;
    margin: 0px 0px 0px 10px;
}

.nav-logo img{
    display: block;
    outline: none;
    margin: auto;
    width: 75px;
    height: 75px;
}

.nav-links {
    flex-grow: 8
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f2833;
    top: 0;
    width: 100%;
    height: 75px;
}
  
.nav-links li {
    float: left;
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 60px;
}

.nav-links li a:hover:not(.active) {
    background-color: #379863;
    color: white;
}

.nav-links li .active {
    background-color: #379863;
    color: white;
}

.searchSong-div input {
    margin-top: 10px;
}

.searchSong-div-submit button[type=submit]{
    background-color: #379863;
    border: none;
    color: white;
    padding: 13px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.searchSong-div input{
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;
}

.avatar {
	width:50px;
	height:50px;
    border-radius: 50%;
    margin-right: .5em;
    margin-left: .5em;
    margin-top: 12px;
}

.hamburger-menu-button {
    background-color: #1f2833;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 10px 0px 0px 5px;
    display: none;
    padding: 0px;
}

.drop-down-menu {
    width: 100%;
    height: 100%;
    background-color: red;
}

.drop-down-menu li {
    display: block;
    color: white;
    // text-align: center;
    padding: 10px 0px 10px 15px;
    text-decoration: none;
    // line-height: 60px;
}

.drop-down-menu li a {
    color: white;
    text-decoration: none;
}

.drop-down-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1f2833;
    top: 0;
    width: 100%;
}

/* Extra small devices (phones, 680px and down) */
@media only screen and (max-width: 680px) {

    .weather-display{
        position: absolute;
        right: 0px;
    }
    
    .hamburger-menu-button {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .searchSong-div{
        display: none;
    }

    .searchSong-div-submit{
        display: none;
    }
    .avatar {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 680px and up, 770 and down) */
@media only screen and (min-width: 680px) and (max-width: 770px){
    .avatar-div {
        display: none;
    }
}

/*  Extra small devices (phones, 322px and up, 680px and down) */
@media only screen and (min-width: 322px) and (max-width: 680px){

    .nav-logo {
        
    }

    .nav-logo img {
        margin: 0px 0px 0px 0px;
    }
}

/* Small devices (portrait tablets and large phones, 650px and up) */
@media only screen and (min-width: 680px) {
   .drop-down-menu{
       display: none;
   }
}
