<nav>
    <div class="nav-logo">
        <img src="../../assets/images/logo_180x180.png" class="logo" alt="">
    </div>
    <div class="nav-links">
        <ul>
            <li><a class="active" href="">Home</a></li>
            <li><a href="">Profile</a></li>
            <li style="float:right"><a href="">
                <i class="fas fa-user-circle"></i> Login</a>
            </li>
        </ul>
    </div>
    <div class="searchSong-div">
        <input class="input-field" type="text" placeholder="Search.."  (input)="searchTerm=$event.target.value">
        <button (click)="searchButton(searchTerm)">Search</button>
    </div>
</nav>