<nav>
    <div class="nav-logo">
        <img src="../../assets/images/logo_180x180.png" class="logo" alt="">
    </div>
    <button class="hamburger-menu-button" (click)="showHideMenu()">
        <i class="fas fa-bars" style="color: white; font-size: 22px; margin-right: 5px;"></i>
    </button>
    
    <div class="nav-links">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active"><i class="fas fa-home" style="font-size: 18px; margin-right: 3px;"></i>Home</a></li>
            <li><a routerLink="/profile-page" routerLinkActive="active"><i class="far fa-id-badge" style="font-size: 18px; margin-right: 3px;"></i>Profile</a></li>
            <li *ngIf="userService.user$ | async; then authenticated else guest">
                <!-- template will replace this div -->
            </li>

            <!-- User logged in -->
            <ng-template #authenticated>
                <li>
                    <a *ngIf="userService.user$ | async as user" routerLink="/login-account" routerLinkActive="active"><i class="fas fa-user-circle"></i> Logout</a>
                </li>
            </ng-template>

            <!-- User NOT logged in -->
            <ng-template #guest>
                <li>
                    <a routerLink="/login-account" routerLinkActive="active"><i class="fas fa-user-circle"></i> Login</a>
                </li>
            </ng-template>
        </ul>
    </div>
    <div class="avatar-div" *ngIf="userService.user$ | async as user">
        <img class="avatar" src="{{user.photoURL}}" alt="{{user.displayName}}+ avatar" />
    </div>

    <div class="weather-display">
        <app-weather-display-small></app-weather-display-small>
    </div>

    <div class="searchSong-div-outer" *ngIf="getPath() === '/musicapp'">
        <div class="searchSong-div">
            <input class="input-field" type="text" placeholder="Search Music.." (input)="searchTerm=$event.target.value">
        </div>
        <div class="searchSong-div-submit">
            <button type="submit" (click)="searchButton(searchTerm)">Search</button>
        </div>
    </div>

</nav>

<div class="drop-down-menu" *ngIf="hideShowMenu">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active"><i class="fas fa-home" style="font-size: 18px; margin-right: 5px;"></i>Home</a></li>
        <li><a routerLink="/profile-page" routerLinkActive="active"><i class="far fa-id-badge" style="font-size: 18px; margin-right: 5px;"></i>Profile</a></li>
        <li *ngIf="userService.user$ | async; then authenticated else guest">
            <!-- template will replace this div -->
        </li>

        <!-- User logged in -->
        <ng-template #authenticated>
            <li>
                <a *ngIf="userService.user$ | async as user" routerLink="/login-account" routerLinkActive="active"><i class="fas fa-user-circle"></i> Logout</a>
            </li>
        </ng-template>

        <!-- User NOT logged in -->
        <ng-template #guest>
            <li>
                <a routerLink="/login-account" routerLinkActive="active"><i class="fas fa-user-circle"></i> Login</a>
            </li>
        </ng-template>
    </ul>
</div>