/* Footer Here */

footer {
    display: flex;
    flex-wrap: wrap;
    bottom: 0px;
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    background-color: #379863;
    border: none;
    font-family: 'Lato', sans-serif;
    color: white;
    position: fixed;
}

.footer-left {
    min-width: 100px;
    max-width: 125px;
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
    text-align: center;
    color: white;
    // background-color: green;
}

.footer-right {
    width: auto;
    flex-grow: 1;
    margin-right: 20px;
    margin-top: 0px;
    font-size: 15px;
    // background-color: blue;
}

.footer-right a{
    color:white;
}

/* End Footer Here */