<h2><i class="fas fa-user-circle"></i> Login Account</h2>
<div class="login-account-container">
    <form>
        <i class="fas fa-envelope login-account-icon login-account-icon-email"></i>
        <input class="input-field" type="text" name="search" placeholder="Email..">
        <i class="fas fa-key login-account-icon login-account-icon-key"></i>
        <input class="input-field" type="text" name="search" placeholder="Password..">
        <input type="submit" value="Submit">
    </form>
</div>
