<section>
    <div class="row">
        <div class="side">
            <app-side-navbar></app-side-navbar>
        </div>
        <div class="main">
            <div class="media-player-outer">   
                <div class="search-generated-head">
                    <h2><i class="fas fa-music" style="color: #1f2833; font-size: 22px; margin-right: 5px;"></i>Media Player</h2>
                </div>
            </div>
            <app-pick-category></app-pick-category>
            <app-music-list></app-music-list>
        </div>
    </div>
</section>
