<h2><i class="fas fa-clipboard-list"></i> App functionality</h2>
<div id = "functionality-deck">
    <div class="functionality-div">
        <div class="functionality-head">
            <h3>What you can do with this app?</h3>
        </div>
        <div>
            <ul>
                <li>Create events for your daily life</li>
                <li>View your schedule</li>
                <li>Generate music based on the genres you picked</li>
                <li>Search for musics</li>
            </ul>
        </div>
    </div>

    <div class="functionality-div">
        <div class="functionality-head">
            <h3>Music Generator</h3>
        </div>
        <div>
            <ul>
                <li>Search music with a word in the song or title</li>
                <li>Use our media player at the bottom of page to play musics</li>
                <li>Generate music based on the genres you pick</li>
            </ul>
        </div>
    </div>
</div>

<div id = "functionality-deck">
    <div class="functionality-div2">
        <div class="functionality-head2">
            <h3>Create Events</h3>
        </div>
        <div>
            <ul>
                <li>Create events for your daily life</li>
                <li>You can create event that is weekly or monthly</li>
                <li>Add descriptions to your event</li>
            </ul>
        </div>
    </div>

    <div class="functionality-div2">
        <div class="functionality-head2">
            <h3>View Events</h3>
        </div>
        <div>
            <ul>
                <li>View the upcoming events you have</li>
                <li>See details of events and make changes to events</li>
                <li>The weather functionality will help user determine weather patterns for upcoming events</li>
            </ul>
        </div>
    </div>
</div>