<h2>App functionality</h2>
<div id = "functionality-deck">
    <div class="functionality-div">
        <div class="functionality-head">
            <h3>What you can do with this app?</h3>
        </div>
        <div>
            <ul>
                <li>Create events for your daily life</li>
                <li>View your schedule</li>
                <li>Generate music based on the genres you picked</li>
                <li>Search for musics</li>
            </ul>
        </div>
    </div>

    <div class="functionality-div">
        <div class="functionality-head">
            <h3>Music Generator</h3>
        </div>
        <div>
            <div class="functionalityInfo-div">
                You can use the search bar on the top right corner to search for music that you would like to find. 
                For example, you search for post malone. It will get 15 songs for the search input you put in and show you
                the cover pictures of all of them and if you hover your mouse over the title will show up on the media player.
                You can also play music with the media player below. 
            </div>
        </div>
    </div>
</div>

<div id = "functionality-deck">
    <div class="functionality-div2">
        <div class="functionality-head2">
            <h3>What you can do with this app?</h3>
        </div>
        <div>
            <ul>
                <li>Create events for your daily life</li>
                <li>View your schedule</li>
                <li>Generate music based on the genres you picked</li>
                <li>Search for musics</li>
            </ul>
        </div>
    </div>

    <div class="functionality-div2">
        <div class="functionality-head2">
            <h3>Music Generator</h3>
        </div>
        <div>
            <div class="functionalityInfo-div2">
                You can use the search bar on the top right corner to search for music that you would like to find. 
                For example, you search for post malone. It will get 15 songs for the search input you put in and show you
                the cover pictures of all of them and if you hover your mouse over the title will show up on the media player.
                You can also play music with the media player below. 
            </div>
        </div>
    </div>
</div>