
<div class="large-calendar-dates" (click)="selectedDay()" [ngClass]="status ? 'active' : 'nornal'">
    <ng-container *ngIf="dayEvent.date != 0">
        {{dayEvent.date}}
    </ng-container>
</div>
<ng-container *ngFor="let event of dayEvent.events">
    <div class="popup-details" *ngIf="statusPopup">
        <div class="popup-close-btn" (click)="closePopup()">
            X
        </div>
        <div class="event-details-outer">
            <div class="event-details-icon">
                ICON
            </div>
            <div class="event-details-title">
                {{event.type}}: {{event.title}}
            </div>
            <div class="event-details-start">
                {{event.startTime}}
            </div>
            <div class="event-details-end">
                {{event.endTime}}
            </div>
            <div class="event-details-delete">
                X
            </div>
        </div>
    </div>
</ng-container>

