/* Button Page 1 */

.cat-info-head{
    display: flex;
    flex-wrap: wrap;
}

.categories-deck{
    // flex: 0 0 250px;
    display: flex;
    flex-wrap: wrap;
    // align-items: stretch;
    // margin: 0px 0px 10px 10px;
}

.categories-div{
    flex: 0 0 250px;
    // width:100%;
    // max-width: 300px;
    background-color: #379863;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    flex-grow: 1;
    color: white;
    margin: 10px;
    // padding: 10px, 10px, 10px, 10px;
    padding: 20px;
}

.categories-list-pick{
    flex: 0 0 250px;
    background-color: #379863;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    flex-grow: 1;
    color: white;
    position: relative;
    margin: 10px 0px 10px 0px;
    padding: 0px 20px 20px 20px;
}

.category-head {
    border-bottom: 1px solid black;
    width: 100%;
    margin: 10px, 10px, 10px, 10px;
}

.list-pick-head{
    border-bottom: 1px solid black;
    width: 100%;
    margin: 10px, 10px, 10px, 10px;
}

#list-pick{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.submit-button-hidden{
    display: none;
}

.list-pick-submit {
    // background-color: green;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.buttonSubmit {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    min-width: 90px;
    min-height: 28px;
    margin: 10px 5px 0px 0px;
    color: white; 
    font-size: 12px;
}

/* Extra small devices (phones, 680px and down) */
@media only screen and (max-width: 680px) {
    .categories-deck{
        margin: 0px 5px 10px 5px;
    }

    .categories-list-pick{
        margin: 0px 10px 10px 10px;
    }

}

