<div class="cat-info-head">
    <h2>Pick Category Section</h2>
</div>

<div id = "categories-deck">
    <div class="categories-div">
        <div class="category-head"> 
            <h3>Pick 3 out of 8 categories to generate songs</h3>
        </div>
        <div class="buttons-holder" id="buttons-categories">
            <!-- Added with JQuery -->
            <!-- (click)="createGenreButton()" [genre]="genre" -->
            <button id="button1" class="buttonDark buttonMed" [innerHTML]="button1HTML" (click)="createGenreButton(button1HTML)"></button>
            <button id="button2" class="buttonDark buttonMed" [innerHTML]="button2HTML" (click)="createGenreButton(button2HTML)"></button> 
            <button id="button3" class="buttonDark buttonMed" [innerHTML]="button3HTML" (click)="createGenreButton(button3HTML)"></button>
            <button id="button4" class="buttonDark buttonMed" [innerHTML]="button4HTML" (click)="createGenreButton(button4HTML)"></button>
            <button id="button5" class="buttonDark buttonMed" [innerHTML]="button5HTML" (click)="createGenreButton(button5HTML)"></button>
            <button id="button6" class="buttonDark buttonMed" [innerHTML]="button6HTML" (click)="createGenreButton(button6HTML)"></button>
            <button id="button7" class="buttonDark buttonMed" [innerHTML]="button7HTML" (click)="createGenreButton(button7HTML)"></button>
            <button id="button8" class="buttonDark buttonMed" [innerHTML]="button8HTML" (click)="createGenreButton(button8HTML)"></button>
        </div>
    </div>
    <div class="categories-list-pick">
        <div class="list-pick-head">
            <h3><i class="far fa-list-alt" style="color: #1f2833; font-size: 22px;"></i> Categories that was picked</h3>
        </div>
        <div id="list-pick">
            <!-- Insert these elements with JQuery -->
            <!-- <div>
                <div>
                    Pop
                </div>
                <div>
                </div>
            </div> -->
        </div>
        <button type="button" id="submit-picked" class="buttonMed buttonDark submit-button-hidden">Submit</button>
    </div>
</div>
