<!-- <div class="cat-info-head">
    <h2>Pick Category to Generate Songs</h2>
</div> -->

<div id = "categories-deck">
    <div class="categories-div">
        <div class="category-head"> 
            <h3>Pick Genres</h3>
        </div>
        <div class="buttons-holder" id="buttons-categories">
            <ng-container *ngFor="let genre of genres">
                <app-pick-category-button [genre]="genre"></app-pick-category-button>
            </ng-container>
        </div>
    </div>
    <div class="categories-list-pick">
        <div class="list-pick-head">
            <h3><i class="far fa-list-alt" style="color: #1f2833; font-size: 22px;"></i> Genres selected</h3>
        </div>
        <div id="list-pick">
            <!-- Insert these elements with JQuery -->
            <ng-container *ngFor="let pickGenre of pickGenres">
                <app-pick-genre-button [pickGenre]="pickGenre"></app-pick-genre-button>
            </ng-container>
        </div>
        <button type="button" id="submit-picked" class="buttonMed buttonDark submit-button-hidden">Submit</button>
    </div>
</div>
