<header>
    <app-nav></app-nav>
</header>
<main>
    <!-- <router-outlet></router-outlet> -->

    <section>
        <div class="row">
            <div class="side">
                <app-create-account></app-create-account>
            </div>
            <div class="main">
                <app-user-profile></app-user-profile>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
                <app-side-navbar></app-side-navbar>
            </div>
            <div class="main">
                <app-create-event></app-create-event>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-large-calender></app-large-calender>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-media-player></app-media-player>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-music-list></app-music-list>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-pick-category></app-pick-category>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-features></app-features>
                <app-functionality></app-functionality>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-event-details></app-event-details>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</main>