<header>
    <app-nav></app-nav>
</header>
<main>
    <router-outlet></router-outlet>
    <!--<a href="{{spotify_url}}">
        <button (click)="GetSpotifyCode()">
            <i class="fa fa-spotify"></i>
        </button>
    </a>-->

    <!-- <section>
        <div class="row">
            <div class="side">
                <app-create-account></app-create-account>
            </div>
            <div class="main">
                <app-large-calender></app-large-calender>
            </div>
        </div>
    </section> -->

    <!-- <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-large-calender></app-large-calender>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-media-player></app-media-player>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-music-list></app-music-list>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-pick-category></app-pick-category>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-features></app-features>
                <app-functionality></app-functionality>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-event-details></app-event-details>
            </div>
        </div>
    </section> -->
    <app-media-player></app-media-player>
    <!-- <app-media-player *ngIf="this.router.url !== '/musicapp'"></app-media-player> -->
</main>
