<header>
    <app-nav></app-nav>
</header>
<main>
    <section>
        <div class="row">
            <div class="side">
                <app-create-account></app-create-account>
            </div>
            <div class="main">
                <app-create-event></app-create-event>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">

            </div>

            <div class="main">
                <app-large-calender></app-large-calender>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <h2><i class="fas fa-clipboard-list"></i> App Features</h2>
                <p>This app will be based on helping the user determine weather patterns for upcoming events or a
                    repetitive daily activity like work. The app will allow the user to create a detailed profile on a
                    calendar-based system and enter in work schedules or planned events. The app will take weather
                    forecasts from online APIS and compare them with events applied in each user’s profile. The user
                    will have personal notifications each morning with projections based on their saved profile. This
                    app will use Artificial Intelligence based on math equations and give a percentage on whether or not
                    the forecast will cause a disturbance during the event. The app will check the wind speed, radar for
                    rain, cloud cover and temperature. We can then base our most basic statistic of disturbance from
                    these four data points.</p>
                <p>Future app features may include, giving the user options to allow a range of good weather for a
                    specified event. This feature would only send updates if prediction falls out of range.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-music-list></app-music-list>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="side">
            </div>

            <div class="main">
                <app-pick-category></app-pick-category>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</main>