.search-results{
    margin-top: 20px;
    margin-bottom: 10px;
}

.search-results img{
    margin: 0px 7px 5px 0px;
}

.search-header {
    width: 100%;
    color: #379863;
    border-bottom: 1px solid white;
}

.search-div {
    padding: 10px 20px;
    margin: 10px 200px 50px 10px;
    flex: 0 0 250px;
    background-color: #1f2833;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    /* flex-grow: 1; */
    color: white;
    /* display: flex; */
}