<div class="create-event-header">
    <div class="create-event-header-title">
        <h2><i class="fas fa-plus-circle"></i> Add Event</h2>
    </div>
    <div class="create-event-header-previous"><h3>&lt;</h3></div>
    <div class="create-event-header-next"><h3>&gt;</h3></div>
    <div class="create-event-header-month"></div>
</div>

<div class="create-event-container">
    <div class="small-calendar">
        <div class="small-calendar-header">S</div>
        <div class="small-calendar-header">M</div>
        <div class="small-calendar-header">T</div>
        <div class="small-calendar-header">W</div>
        <div class="small-calendar-header">T</div>
        <div class="small-calendar-header">F</div>
        <div class="small-calendar-header">S</div>
    </div>
    
    <div class="create-event">
        <form>
            <input class="input-field" type="text" name="title" placeholder="Title">
            <input class="input-field" type="text" name="startTime" placeholder="Start Time">
            <input class="input-field" type="text" name="endTime" placeholder="End Time">
            <input class="input-field" type="text" name="description" placeholder="Description">
            <input class="input-field" type="text" name="location" placeholder="Location">
            <input id="create-event-submit-btn" type="submit" value="Create">
        </form>
    </div>
    
</div>