.search-results{
    margin-top: 20px;
    margin-bottom: 10px;
}

.search-results img{
    margin: 0px 7px 5px 0px;
}

.search-header {
    max-width: 250px;
    min-width: 100px;
    margin: 0px 0px 0px 20px;
}

.search-div-header{
    // background-color: yellow;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.title-header {
    // background-color: orange;
    max-width: 250px;
    min-width: 100px;
    color: #2abc6b;
    border-bottom: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details-header {
    // background-color: orangered;
    padding: 0px 0px 0px 12px;
    width: 50%;
    height: 75px;
    color: #2abc6b;
    border-bottom: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-div {
    padding: 10px 20px;
    margin: 10px 50px 50px 10px;
    flex: 0 0 250px;
    background-color: #1f2833;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    color: white;
}

/* Extra small devices (phones, 680px and down) */
@media only screen and (max-width: 680px) {
   
    .search-header  h2{
        width: 90%;
        margin: 0px 0px 0px 0px;
    }
}