.search-results{
    margin-top: 20px;
    margin-bottom: 10px;
}

.search-results img{
    margin: 0px 7px 5px 0px;
}

.search-header {
    max-width: 250px;
    min-width: 100px;
    margin: 0px 0px 20px 20px;

}
.search-div-header{
    // background-color: yellow;
    display: flex;
    flex: 0 0 250px;
    flex-wrap: nowrap;
    margin: 0px 50px 10px 10px;
    background-color: #1f2833;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    color: white;
    height: 93px;
}

.search-div {
    padding: 10px 20px;
    margin: 0px 50px 10px 10px;
    flex: 0 0 250px;
    background-color: #1f2833;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    color: white;
}

.details {
    // background-color: orange;
    width: 400px;
    color: #2abc6b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-left: 10px;
}

.font-header{
    color: rgb(163, 163, 163);
    font-weight: bolder;
}

.font{
    // color: white;
    color: #2abc6b;
    font-size: 14px;
}


/* Extra small devices (phones, 680px and down) */
@media only screen and (max-width: 680px) {
   
    .search-header  h2{
        margin: 0px 0px 20px 0px;
    }
    .details{
        width: 300px;
    }

}