<div class="cat-info-head">
    <h2>Pick Category Section</h2>
</div>

<div id = "categories-deck">
    <div class="categories-div">
        <div class="category-head"> 
            <h3>Pick 3 out of 8 categories to generate songs</h3>
        </div>
        <div class="buttons-holder" id="buttons-categories">
            <!-- Added with JQuery -->
            <!-- <button class="button1">Rock</button>
            <button class="button2">Pop</button> 
            <button class="button3">Jazz</button>
            <button class="button4">Country</button> -->
        </div>
    </div>
    <div class="categories-list-pick">
        <div class="list-pick-head">
            <h3><i class="far fa-list-alt" style="color: #1f2833; font-size: 22px;"></i> Categories that was picked</h3>
        </div>
        <div id="list-pick">
            <!-- Insert these elements with JQuery -->
            <!-- <div>
                <div>
                    Pop
                </div>
                <div>
                </div>
            </div> -->
        </div>
        <button type="button" id="submit-picked" class="buttonMed buttonDark submit-button-hidden">Submit</button>
    </div>
</div>
