<div class="user-profile-info-container">
    <div class="user-info-header">
        User Information
    </div>
    <div class="user-info-div" *ngIf="userService.user$ | async as user">
        Name: {{user.displayName}}
        <br>Email: {{user.email}}
        <br>UID: {{user.uid}}
        <br>Top 3 genres: Pop, Country, Rock
    </div>
</div>

<div class="user-profile-search-container">
    <div class="user-search-header">
        Search History
    </div>
    <div class="user-search-div">
        Billie Eilish
        <br>Post Malone
    </div>
</div>

<div class="user-profile-events-container">
    <div class="user-events-header">
        Past Events
    </div>
    <div class="user-events-div">
        Client side class
        <br>Server side class
        <br>Secure software class
        <br>Cyber war gaming class
    </div>
</div>