<div class="user-profile-info-container">
    <div class="user-info-header">
        User Information
    </div>
    <div class="user-info-div" *ngIf="userService.user$ | async as user">
        Name: {{ user.displayName }}
        <br>Email: {{ user.email }}
        <br>UID: {{ user.uid }}
        <br>Top 3 genres: Pop, Country, Rock
    </div>
</div>

<div class="user-profile-search-container">
    <div class="user-search-header">
        Search History
    </div>
    <div class="user-search-div">
        <ul style="margin-top: 0px;">
            <li *ngFor="let history of allHistory">
                {{ history.term }}
            </li>
        </ul>
    </div>
</div>

<div class="user-profile-events-container" *ngIf="currentEvents?.length > 0">
    <div class="user-events-header">
        Past Events
    </div>
    <div class="user-events-div">
        <ul style="margin-top: 0px;">
            <li *ngFor="let title of eventsTitle; let i=index">
                {{ title }} &nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #1f2833;">[{{ eventsType[i] }}]</span>
            </li>
        </ul>
    </div>
</div>