<div class="user-profile-outer-container">
    <div class="user-info-header">
        User Information
    </div>
    <div class="user-info-div">
        Name: Kelie Kan
        <br>Email: kelie.kan@gmail.com
        <br>Top 3 genres: Pop, Country, Rock
    </div>
<!-- 
    <div class="user-search-header">
        Search History:
    </div>
    <div class="user-search-div">
        
    </div>

    <div class="user-events-header">
        Past Events:
    </div>
    <div class="user-events-div">
    </div> -->
</div>
