<div class="outer">
    <div class="zip-input" [ngClass]="{'hide' : hideShowZip}">
        <input class="input-field" (input)="zip=$event.target.value" type="text" placeholder="Zip.." >
    </div>
    <div class="go-submit-zip-btn" [ngClass]="{'hide' : hideShowZip}">
        <button type="submit" (click)="submitZip(zip)">Go</button>
    </div>

    <div class="inner-left" [ngClass]="{'hide' : hideShowTemp}" (click)="OnClickTempAndClouds()">
        {{temp}} &deg;
    </div>
    <div class="inner-right" [ngClass]="{'hide' : hideShowTemp}" (click)="OnClickTempAndClouds()">
        <img *ngIf="icon"  src="../../../assets/images/weather_icons/{{icon}}.png">
    </div>
</div>
