.outer {
    display: flex;
    height: 75px;
    width: 125px;
}

.zip-input{
    line-height: 75px;
    padding-right: 8px;
}

.hide{
    display: none;
}

.go-submit-zip-btn {
    line-height: 75px;
}

.go-submit-zip-btn button[type=submit]{
    background-color: #379863;
    border: none;
    color: white;
    padding: 13px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


.inner-left {
    line-height: 85px;
    text-align: center;
    // width: 75px;
    color: white;
    font-size: 25px;
}

.inner-right{
    margin: 10px 0px;
    // padding: 20px;
    width: auto;
}

.inner-right img{
    height: 55px;
}

.zip-input input{
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;
}


